body {
    margin: 0;
    padding: 0;
    font-family:Times new roman, sans-serif;
    background-image: url("background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 40px;
    margin-left: auto;
    padding-right: 50px;
    justify-content: flex-end;
    display: flex;
    background-color: grey;
    text-align: center;
    height: 60px;
}

ul.navbar li{
    text-align: center;
    font-size: large;
    padding: 20px;
}

ul.navbar li a {
    text-decoration: none;
    color: black;
}

h1.name {
    text-align: center;
    padding-top: 30px;
}

img.main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 600px;
    height: auto;
}
.content-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
}
p.first {
    text-align: center;
}
.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    padding: 10px;
}

.second ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.second li {
    margin: 5px 0;
    text-align: center;
    width: 90%;
    padding: 5px 0;
}

div.container {
    background-color: burlywood;
    width: 250px;
    height: 650px;
    margin-top: 6.0%;
    margin-left: 17%;
    padding-top: 6%;
    padding: 1%;
    margin-bottom: 5%;
    text-align: justify;
}

div.container2 {
    background-color: burlywood;
    width: 250px;
    height: 650px;
    top: 115.5%;
    margin-left: 40%;
    padding-top: 6%;
    padding: 1%;
    text-align: justify;
    position: absolute;
}

div.container3 {
    background-color: burlywood;
    width: 250px;
    height: 650px;
    top: 115.5%;
    margin-left: 63%;
    padding-top: 6%;
    padding: 1%;
    text-align: justify;
    position: absolute
}

img.product {
    padding-top: 10%;
    width: 98%;
    height: auto;
}

div.contact {
    margin-left: 5%;
}

img.map {
    width: 40%;
    margin-left: 50%;
    top: 25%;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    position: absolute;
}
 img.logo {
     left: 0.2%;
     top: 0.2%;
     width: 4.2%;
     height: auto;
     position: absolute;
 }



